<div class="center hero-unit">
<h1>test_app</h1>
<h2>TOP PAGE</h2>
<%= link_to "Sign UP Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("default.png", alt: "test"), 'http:/rubyonrails.org/' %>